.radioText-with-subtitle-zXCtT {
    display: flex;
}

.styles-alertBanner-Syno1 {
    white-space: pre-wrap;
}

.radioWithImages-radioWithImages-NOJxt {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}

.radioWithImages-option-j5fd8 {
    display: block;
    width: 294px;
    margin-right: 24px;
    margin-bottom: 16px;
    outline: none;
    cursor: pointer;
}

.radioWithImages-option-j5fd8:hover,
.radioWithImages-option-j5fd8:focus {
    outline: none;
}

.radioWithImages-optionDisabled-KNB0Q {
    cursor: default;
    pointer-events: none;
}

.radioWithImages-optionContainer-GmTay {
    display: block;
    position: relative;
    width: 294px;
    height: 184px;
    overflow: hidden;
    border-radius: 6px;
}

.radioWithImages-radio-SVApW {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.radioIcons-group-kxOZ1 {
    display: inline-flex;
}

.radioIcons-single-selected-QuRYw {
    pointer-events: none;
}

.radioIcons-with-subtitle-Qb9q1 {
    padding: 8px 0;
}

.radioIcons-inner-_Y085 {
    display: inline;
    padding-top: 4px;
}

.radioIcons-image-uKW_R {
    display: inline-block;
    margin-bottom: 6px;
}

.radioIcons-image-icon-BH09P {
    width: 100%;
    height: 100%;
}

.radioIcons-with-image-edwg9 {
    padding-right: 40px;
    cursor: pointer;
}
/* Сбрасываем стили если есть картинка */
.radioIcons-with-image-edwg9:not(.radioIcons-button-selected-sr4r3) {
    border-color: transparent;
    background-color: transparent;
    padding: 0;
    margin-right: 40px;
}

.radioIcons-with-image-edwg9:not(.radioIcons-button-selected-sr4r3):hover {
    border-color: transparent;
    background-color: transparent;
}

.radioIcons-with-image-edwg9 > span::before {
    display: none;
}

.radioIcons-with-image-edwg9:first-child > span {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radioIcons-with-image-edwg9 .radioIcons-inner-_Y085 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

