.index-presaleButtonWrapper-Rn5TG {
    width: 232px;
}

.styles-root-wg8bk {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.styles-content-WoDMj {
    width: 0;
    height: 0;
    color: rgba(255, 255, 255, 0);
    font-size: 0;
}

