.preview-photo-root-VfWi1 {
    position: relative;
    width: 100%;
    margin-top: 20px;
    background-color: #292929;
    box-shadow: 0 5px 17px 0 rgba(0, 0, 0, .15);
}

.preview-photo-root-VfWi1::before {
    content: ' ';
    display: block;
    padding-top: 75%;
}

.preview-photo-root-VfWi1:first-child {
    margin-top: 0;
}

.preview-photo-top-X9Brd {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 16px;
    box-sizing: border-box;
    color: #ffffff;
}

.preview-photo-img-wrapper-aZxMU {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.preview-photo-img-x0PcK {
    display: block;
    width: auto;
    max-height: 100%;
}

@supports ((-o-object-fit: contain) or (object-fit: contain)) {
    .preview-photo-img-x0PcK {
        width: 100%;
        -o-object-fit: contain;
           object-fit: contain;
    }
}

.preview-photo-loading-skhsQ {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #292929;
}

.preview-photo-button-QiuEf {
    width: 28px;
    height: 28px;
    border: 0;
    border-radius: 14px;
    overflow: hidden;
    cursor: pointer;
    text-indent: -9000px;
    outline: 0;
    padding: 0;
    margin-right: 10px;
    background-color: #000000;
    color: #ffffff;
    opacity: .7;
}

.preview-photo-button-QiuEf:hover {
    opacity: 1;
}

.preview-photo-button-rotate-AgmcD {
    background: url(/static/item-publish/assets/../assets/f3b95754eb11638d.svg) 5px 4px no-repeat #000000;
}

.preview-photo-button-remove-y7lvh {
    background: url(/static/item-publish/assets/../assets/999204b20059740d.svg) 7px 6px no-repeat #000000;
}

.preview-uploader-uploader-gQ0Gj {
    display: flex;
    flex-flow: row nowrap;
    background-color: #f5f5f5;
    border: 1px dashed #c2c2c2;
    box-sizing: border-box;
    border-radius: 2px;
}

.preview-uploader-active-KdYr0 {
    background-color: #e6f6ff;
}

.preview-uploader-photo-XBZMF {
    width: 40px;
    height: 33px;
    background: url(/static/item-publish/assets/../assets/f951375b35bba801.svg) no-repeat;
    background-size: 100%;
    margin: 20px 16px 20px 28px;
}

.preview-uploader-description-r_nFD {
    margin-top: 16px;
}

