.skeleton-root-Tdepa {
    animation-name: skeleton-loading-ZuhnU;
    animation-duration: 1s;
    animation-delay: .1s;
    animation-iteration-count: infinite;
    margin-left: 40px;
    margin-top: 6px;
}

.skeleton-element-ivGhw {
    border-radius: 2px;
    background-color: #e0e0e0;
    height: 8px;
}

.skeleton-element-long-LYnCe {
    width: 252px;
}

.skeleton-element-short-FmTBC {
    margin-top: 12px;
    width: 208px;
}

@keyframes skeleton-loading-ZuhnU {
    50% {
        opacity: .6;
    }

    to {
        opacity: 1;
    }
}

.badge-badge-Qfjld {
    padding: 0 4px;
    border-radius: 2px;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
}

.imv-info-details-root-SVID4 {
    margin: 7px 0 30px;
    max-width: 470px;
}

.imv-info-details-errorWrapper-xmv4x {
    max-width: 482px;
}

.imv-info-postfix-root-LdZHf {
    white-space: nowrap;
    margin-top: -3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imv-info-postfix-root-left-ryzQI {
    margin-left: 40px;
}

.skeleton-root-sVDcz {
    animation-name: skeleton-loading-kr8K9;
    animation-duration: 1s;
    animation-delay: .1s;
    animation-iteration-count: infinite;
    margin-top: 16px;
}

.skeleton-element-LRubn {
    border-radius: 2px;
    background-color: #e0e0e0;
}

.skeleton-element-long-ncWsd {
    height: 12px;
    width: 342px;
}

.skeleton-element-short-PuuV6 {
    margin-top: 16px;
    height: 8px;
    width: 252px;
}

.skeleton-element-short-PuuV6 + .skeleton-element-short-PuuV6 {
    margin-top: 12px;
}

@keyframes skeleton-loading-kr8K9 {
    50% {
        opacity: .6;
    }

    to {
        opacity: 1;
    }
}

.price-dimension-oyAj3 {
    margin-left: 20px;
}

.price-dimensionBefore-VERch {
    margin-right: 20px;
    margin-left: 0;
}

.price-startPrice-jSxoB div[class^='fieldset-fieldset'] {
    padding-top: 0;
    margin-top: -5px;
}

