.loader-loader-QWt9O {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.duplicate-alert-content-UxIRa {
    padding: 20px 24px 38px;
    white-space: pre-line;
}

.item-snippet-root-PnPfU {
    display: inline-flex;
    position: relative;
}

.item-snippet-hoverAnimation-luial::before {
    content: '';
    position: absolute;
    top: -18px;
    left: -18px;
    right: -18px;
    bottom: -18px;
    background-color: #f2f1f0;
    border-radius: 24px;
    z-index: -1;
    opacity: 0;
    transition: opacity .2s ease-out;
}

.item-snippet-hoverAnimation-luial:hover::before {
    opacity: 1;
}

.item-snippet-content-RHaA8 {
    width: 235px;
}

.styles-preview-IjkRX {
    position: relative;
    width: 96px;
    height: 96px;
}

.styles-icons-Wfy51 {
    position: absolute;
    top: 8px;
    left: 8px;
    pointer-events: none;
}

.styles-icon-SzviN {
    display: inline-block;
    height: 21px;
    width: 21px;
    margin-right: 3px;
    vertical-align: middle;
    border-radius: 6px;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 24px 0 #0000001f, 0 1px 3px 0 #0000000d;
    box-sizing: border-box;
}

.styles-icon-SzviN:last-child {
    margin-right: 0;
}

.styles-icon_delivery-iRDjI {
    background-image: url(/static/item-publish/assets/../assets/b467885af1e8a015.svg);
}

.styles-icon_video-ImISp {
    background-image: url(/static/item-publish/assets/../assets/ee832631f9a6332b.svg);
}

.styles-image-mQ4Mz {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 16px;
    overflow: hidden;
    background-color: #ebeae8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.geo-info-icons-lVSzR {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 4px;
}

.geo-info-icon-doVG3 {
    display: block;
    width: 6px;
    height: 6px;
    border: 1px solid white;
    border-radius: 50%;
}

.geo-info-icon-doVG3 + .geo-info-icon-doVG3 {
    margin-right: -4px;
}

.alert-content-j1r2l {
    padding: 20px 24px 38px;
}

.alert-description-bgSkQ {
    /* ширина маркера '—' 11.7px */
    margin-left: calc(11.7px + var(--li-marker-gap));
}

.styles-module-root-zennX {
  position: relative;
}

.styles-module-root-zennX::before {
  white-space: nowrap;
}

/* List types */
.styles-module-root_list-type_ul-WUzRu::before {
  content: '—';
}

.styles-module-root_list-type_ol-x_LYB::before {
  counter-increment: section;
  content: counter(section) '.';
}

/* Marker position */
.styles-module-root_position_inside-WSZ1N::before {
  display: inline-block;
  padding-right: var(--li-marker-gap);
}

.styles-module-root_position_outside-nHEDY::before {
  position: absolute;
  right: calc(100% + var(--li-marker-gap));
}

/* Sizes */
/* ol sizes */
.styles-module-root_list-type_ol-x_LYB.styles-module-root_size_xs-DekWW {
  --li-marker-gap: 4px;
}

.styles-module-root_list-type_ol-x_LYB.styles-module-root_size_s-R527V {
  --li-marker-gap: 5px;
}

.styles-module-root_list-type_ol-x_LYB.styles-module-root_size_m-ySABx {
  --li-marker-gap: 6px;
}

.styles-module-root_list-type_ol-x_LYB.styles-module-root_size_l-LJsaY {
  --li-marker-gap: 6px;
}

.styles-module-root_list-type_ol-x_LYB.styles-module-root_size_xl-apuzH {
  --li-marker-gap: 6px;
}

.styles-module-root_list-type_ol-x_LYB.styles-module-root_size_xxl-_vkYb {
  --li-marker-gap: 7px;
}

.styles-module-root_list-type_ol-x_LYB.styles-module-root_size_xxxl-uIIqx {
  --li-marker-gap: 7px;
}

.styles-module-root_list-type_ol-x_LYB.styles-module-root_size_xxxxl-SNTR4 {
  --li-marker-gap: 10px;
}

.styles-module-root_list-type_ol-x_LYB.styles-module-root_size_xxxxxl-wweDH {
  --li-marker-gap: 13px;
}

/* ul sizes */
.styles-module-root_list-type_ul-WUzRu.styles-module-root_size_xs-DekWW {
  --li-marker-gap: 5px;
}

.styles-module-root_list-type_ul-WUzRu.styles-module-root_size_s-R527V {
  --li-marker-gap: 5px;
}

.styles-module-root_list-type_ul-WUzRu.styles-module-root_size_m-ySABx {
  --li-marker-gap: 7px;
}

.styles-module-root_list-type_ul-WUzRu.styles-module-root_size_l-LJsaY {
  --li-marker-gap: 7px;
}

.styles-module-root_list-type_ul-WUzRu.styles-module-root_size_xl-apuzH {
  --li-marker-gap: 7px;
}

.styles-module-root_list-type_ul-WUzRu.styles-module-root_size_xxl-_vkYb {
  --li-marker-gap: 7px;
}

.styles-module-root_list-type_ul-WUzRu.styles-module-root_size_xxxl-uIIqx {
  --li-marker-gap: 8px;
}

.styles-module-root_list-type_ul-WUzRu.styles-module-root_size_xxxxl-SNTR4 {
  --li-marker-gap: 11px;
}

.styles-module-root_list-type_ul-WUzRu.styles-module-root_size_xxxxxl-wweDH {
  --li-marker-gap: 14px;
}

.styles-module-root-VcbL4 {
  padding: 0;
  list-style-type: none;
  counter-reset: section;
}

.styles-module-root_nested-_PZ1l {
  margin-top: var(--list-margin-top, var(--element-margin-fallback));
  padding-inline-start: var(--list-padding-start);
}

.styles-module-root_nested_paragraph-xs-ZUl94 {
  --list-margin-top: var(--theme-margin-normal-paragraph-xs-paragraph-xs);
}

.styles-module-root_nested_paragraph-s-fjRLC {
  --list-margin-top: var(--theme-margin-normal-paragraph-s-paragraph-s);
}

.styles-module-root_nested_paragraph-s-dense-xLqUB {
  /* TODO Check out is dense correct */
  --list-margin-top: var(--theme-margin-dense-paragraph-s-paragraph-s);
}

.styles-module-root_nested_paragraph-m-bcBLa {
  --list-margin-top: var(--theme-margin-normal-paragraph-m-paragraph-m);
}

.styles-module-root_nested_paragraph-m-dense-bFCQK {
  /* TODO Check out is dense correct */
  --list-margin-top: var(--theme-margin-dense-paragraph-m-paragraph-m);
}

.styles-module-root_nested_paragraph-l-B7hPs {
  --list-margin-top: var(--theme-margin-normal-paragraph-l-paragraph-l);
}

.styles-module-root_nested_paragraph-l-dense-R5Rov {
  /* TODO Check out is dense correct */
  --list-margin-top: var(--theme-margin-dense-paragraph-l-paragraph-l);
}

/* Sizes */
.styles-module-root_size_xs-yOuvR {
  --list-padding-start: 14px;
}

.styles-module-root_size_s-UZ8X0 {
  --list-padding-start: 16px;
}

.styles-module-root_size_m-aEFC8 {
  --list-padding-start: 20px;
}

.styles-module-root_size_l-QGlwW {
  --list-padding-start: 20px;
}

.styles-module-root_size_xl-evnCv {
  --list-padding-start: 20px;
}

.styles-module-root_size_xxl-NCt_d {
  --list-padding-start: 22px;
}

.styles-module-root_size_xxxl-KsvNB {
  --list-padding-start: 26px;
}

.styles-module-root_size_xxxxl-pza0J {
  --list-padding-start: 32px;
}

.styles-module-root_size_xxxxxl-WAXic {
  --list-padding-start: 40px;
}

.styles-item-h55kq {
    margin-right: 6px;
}

.styles-item-h55kq:last-child {
    margin-right: 0;
}

.styles-icon-SoFy8 {
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-left: 6px;
    background-image: url(/static/item-publish/assets/../assets/952f465385c66c7a.svg);
}

.styles-wrapper-jIidj {
    display: flex;
    flex-direction: column;
    margin-left: -18px;
    margin-right: -18px;
}

.styles-cascader-vFz15 {
    display: flex;
}

.styles-anotherCategory-LTXBb {
    margin-top: 16px;
}

.styles-category-E88fw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    border-radius: 12px;
    padding: 11px 18px;
    margin-bottom: 4px;
    background-color: transparent;
    color: #000000;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    outline: none;
    cursor: pointer;
    transition: background .3s ease;
}

.styles-category-E88fw:last-child {
    margin-bottom: 0;
}

.styles-category-E88fw:focus-visible {
    box-shadow: #80d4ff 0 0 0 3px;
}

.styles-category-E88fw:disabled {
    cursor: not-allowed;
}

.styles-category-E88fw:hover:not(:disabled),
.styles-category_active-FVgvd,
.styles-category_active-FVgvd:focus,
.styles-category_active-FVgvd:hover {
    background-color: #f2f1f0;
}

.styles-label-xis4S {
    width: calc(100% - 11px);
    word-wrap: break-word;
    padding-bottom: 2px;
}

.styles-category-E88fw:disabled .styles-label-xis4S {
    color: #a3a3a3;
}

.styles-icon-Fx8ZP {
    width: 7px;
    height: 12px;
    display: flex;
    margin-left: 6px;
    flex-shrink: 0;
}

.styles-column-eMZev {
    width: 240px;
    margin-right: 4px;
}

.styles-column_narrow-spKKm {
    width: 191px;
    margin-right: 4px;
}

.styles-column-eMZev:last-child,
.styles-column_narrow-spKKm:last-child {
    margin-right: 0;
}

@media screen and (min-width: 1366px) {
    .styles-column-eMZev {
        width: 255px;
    }

    .styles-column_narrow-spKKm {
        width: 203px;
    }
}

.styles-wrapper-PGwAd {
    padding: 4px 16px 4px var(--offsex-x);
    margin: 0 calc(var(--offsex-x)*-1);
    border-radius: 12px;
    cursor: default;
}

.styles-wrapper-PGwAd:hover {
    background-color: #f7f7f5;
}

.styles-iconButton-Wh4Ak {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    visibility: hidden;
}

.styles-iconButton-Wh4Ak:hover,
.styles-iconButton-Wh4Ak:focus-visible {
    background-color: #e3e2e1;
}

.styles-iconButton-Wh4Ak:active {
    background-color: #d4d2cf;
}

.styles-wrapper-PGwAd:hover .styles-iconButton-Wh4Ak {
    visibility: visible;
}

.styles-wrapper-C6Hbp {
    --offsex-x: 24px;
    padding: 0 var(--offsex-x);
    margin: 0 calc(var(--offsex-x)*-1);
    position: relative;
}

.styles-scrollEnabled-r0Xb1 {
    overflow-y: auto;
    max-height: 310px;
}

.styles-reversed-list-EkQBi {
    display: flex;
    flex-direction: column-reverse;
}

.styles-wrapper-C6Hbp::after,
.styles-wrapper-C6Hbp::before {
    content: '';
    display: block;
    position: sticky;
    left: 0;
    width: 100%;
    border-radius: 93%;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .05);
    opacity: 0;
    height: 1px;
}

.styles-wrapper-C6Hbp::before {
    top: 0;
}

.styles-wrapper-C6Hbp::after {
    bottom: 0;
}

.styles-shadowTop-O6KKj::before {
    opacity: 1;
}

.styles-shadowBottom-pAc9d::after {
    opacity: 1;
}

.styles-map-wrapper-cnlEV {
    height: 480px;
    display: flex;
    flex-direction: column;
}

.styles-map-l3mS2 {
    flex-grow: 1;
    margin: 0 -6px;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
}

.styles-map-holder-rfHsL {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.styles-error-nVIVW {
    outline: 1px solid #ff4053;
}

.styles-policyWrapper-asFnF {
    max-width: 164px;
}

.Section-module-root-lCj6G + .Section-module-root-lCj6G {
  margin-top: var(--theme-gap-56);
}

.Search-module-mask-o1hAx {
  --module-icon-mask-url: url(/static/item-publish/assets/../assets/4bfebeb9ea8e2fa9.svg);
}

.GeoSuggest-wrapper-U9D_w {
    position: relative;
}

.GeoSuggest-wrapper-U9D_w svg {
    cursor: pointer;
}

.GeoSuggest-listWrapper-nVjet {
    max-height: 260px;
    width: 100%;
    margin: 12px 0 0;
    padding: 18px 0 22px;
    border-radius: 12px 12px 24px 24px;
    background-color: white;
    z-index: 10;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .05);
}

.GeoSuggest-listWrapperAbsolute-T8dhw {
    position: absolute;
    right: 0;
    left: 0;
}

.GeoSuggest-listWrapperFixed-uqKgG {
    position: fixed;
}

.GeoSuggest-list-ECO8s {
    padding: 0;
    margin: 0;
    max-height: 220px;
    list-style: none;
    overflow-y: auto;
}

.GeoSuggest-item-MhQbh,
.GeoSuggest-noSuggestionsItem-hutLJ {
    padding: 11px 16px;
}

.GeoSuggest-item-MhQbh {
    cursor: pointer;
}

.GeoSuggest-item-MhQbh:hover,
.GeoSuggest-liHovered-g4DxQ {
    background-color: #f2f1f0;
}

.GeoSuggest-skeletonItem-GwArl {
    padding: 0 16px;
}

.GeoSuggest-skeletonItem-GwArl:first-child {
    margin-top: 6px;
}

.GeoSuggest-skeletonItem-GwArl:not(:last-child) {
    margin-bottom: 20px;
}

.GeoSuggest-skeletonItem-GwArl:last-child {
    margin-bottom: 30px;
}

.GeoSuggest-postfix-cHWKU {
    margin-top: 1px;
    margin-bottom: 0;
}

.GeoSuggest-itemWrapper-_upEC {
    display: flex;
    gap: 8px;
}

.AddRound-module-mask-ggQAo {
  --module-icon-mask-url: url(/static/item-publish/assets/../assets/2ca2a1740e1747ae.svg);
}

.History-module-mask-c8I4d {
  --module-icon-mask-url: url(/static/item-publish/assets/../assets/ffae0ec24e4c2c03.svg);
}

.styles-module-root-tT9OD {
  --module-skeleton-border-radius: var(--theme-borderRadius-m);

  border-radius: var(--module-skeleton-border-radius);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  /* Animation */
  animation-name: styles-module-pulsate-qDXY5;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  animation-iteration-count: infinite;
}

/* ------------------ root borderRadius modifier ------------------ */

.styles-module-root_borderRadius_2-PQAXW {
  --module-skeleton-border-radius: 2px;
}

.styles-module-root_borderRadius_4-aI5g7 {
  --module-skeleton-border-radius: 4px;
}

.styles-module-root_borderRadius_6-rcfeQ {
  --module-skeleton-border-radius: 6px;
}

.styles-module-root_borderRadius_12-cIB5_ {
  --module-skeleton-border-radius: 12px;
}

.styles-module-root_borderRadius_16-LPHp8 {
  --module-skeleton-border-radius: 16px;
}

.styles-module-root_borderRadius_20-kigi5 {
  --module-skeleton-border-radius: 20px;
}

.styles-module-root_borderRadius_24-X3nDo {
  --module-skeleton-border-radius: 24px;
}

.styles-module-root_borderRadius_28-C2s5T {
  --module-skeleton-border-radius: 28px;
}

.styles-module-root_preset_default-X5xKc {
  background-color: var(--theme-palette-warmGray8);
}

.styles-module-root_preset_inverted-mtQFF {
  background-color: var(--theme-palette-warmGray84);
}

@keyframes styles-module-pulsate-qDXY5 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* ---------- text ---------- */

.styles-module-text-o6OFm {
  display: inline-block;
  width: 100%;
  line-height: var(--capital-height);
  --module-skeleton-border-radius: var(--theme-borderRadius-s);
}

.styles-module-text-o6OFm::before {
  /* It's important to use NBSP because sometimes the browser cut it off */
  content: '\00a0';
  display: inline-block;
}

/* ---------- circle ---------- */

.styles-module-circle-zSkFv {
  --module-skeleton-border-radius: 50%;
}

.styles-module-circle-zSkFv::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

/* ---------- control ---------- */
.styles-module-control-FqDnX {
  height: var(--module-skeleton-border-height);
}

.styles-module-control_size_s-pELKX {
  --module-skeleton-border-height: var(--theme-size-s-height);
  --module-skeleton-border-radius: var(--theme-size-s-borderRadius);
}

.styles-module-control_size_m-beoua {
  --module-skeleton-border-height: var(--theme-size-m-height);
  --module-skeleton-border-radius: var(--theme-size-m-borderRadius);
}

.styles-module-control_size_l-wlHOZ {
  --module-skeleton-border-height: var(--theme-size-l-height);
  --module-skeleton-border-radius: var(--theme-size-l-borderRadius);
}

/* ------------------ control shape modifier ------------------ */

.styles-module-control_shape_round-qMQEx {
  --module-skeleton-border-radius: var(--module-skeleton-border-height);
}

.styles-module-control_shape_square-l21NC,
.styles-module-control_shape_circle-WprSa {
  max-width: var(--module-skeleton-border-height);
  min-width: var(--module-skeleton-border-height);
}

.styles-module-control_shape_circle-WprSa {
  --module-skeleton-border-radius: 50%;
}

.PickCenterMap-wrapper-OSgel {
    width: var(--map-width);
    height: var(--map-height);
    border-radius: var(--map-border-radius);
    position: relative;
    overflow: hidden;
}

.PickCenterMap-wrapperOffset-PmJF4 {
    margin-top: 16px;
}

.PickCenterMap-wrapperError-QTwCb {
    outline: 1px solid #ff4053;
}

.PickCenterMap-suggestWrapper-hsuxT {
    position: absolute;
    top: 16px;
    right: 16px;
    left: 16px;
}

.styles-wrapper-u_jBK {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
}

.styles-errorContainer-J377h {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.styles-imageHolder-iGrD1 {
    display: none;
}

.styles-mapWrapper-zlXHj {
    position: relative;
}

.styles-placemark-DYFVk,
.styles-placemarkDot-iZ3qE {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    pointer-events: none;
}

.styles-placemark-DYFVk {
    width: 44px;
    height: 50px;
    top: calc(50% - 31px);
}

.styles-placemarkDot-iZ3qE {
    width: 20px;
    height: 20px;
    top: calc(50% + 3px);
}

.styles-placemark-DYFVk::after,
.styles-placemarkDot-iZ3qE::after {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 50%;
    background-repeat: no-repeat;
}

.styles-placemark-DYFVk::after {
    width: 44px;
    background-image: url(/static/item-publish/assets/../assets/f800d8b9d881fd78.svg), url('https://avito.st/static/ims/09fe86d7-f598-470e-b812-ebf8bb0ce4db_map_marker_v2_common.svg');
}

.styles-placemarkDot-iZ3qE::after {
    width: 20px;
    background-image: url(/static/item-publish/assets/../assets/5ceef683ac364546.svg), url('https://avito.st/static/ims/fb4d8931-db7b-4f0d-8807-1afafc4dbe11_map_dot_v2_common.svg');
}

.styles-root_dragging-T11KU .styles-placemark-DYFVk::after {
    bottom: 10px;
}

.styles-upMarker-bxpAo {
    animation: styles-upMarkerAnimation-eAS7L .15s forwards cubic-bezier(.12, 0, .39, 0);
}

.styles-downMarker-JIzZo {
    animation: styles-downMarkerAnimation-jnh_m .4s forwards ease-out;
}

.styles-placemarkDot-iZ3qE::before {
    content: '';
    position: absolute;
    height: 14px;
    bottom: 28px;
    left: 0;
    right: 0;
    width: 3px;
    background-color: black;
    border-radius: 2px;
    margin: 0 auto;
}

.styles-location-IXgLi {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 47px);
    right: 16px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
}

.styles-errorBanner-YhAbA {
    position: absolute;
    top: 12px;
    left: 10px;
}

.styles-spinnerWrapper-DRSM0 {
    position: absolute;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    background-color: #fff;
    border-radius: 50%;
}

@keyframes styles-upMarkerAnimation-eAS7L {
    0% {
        top: calc(50% - 31px);
    }

    100% {
        top: calc(50% - 40px);
    }
}

@keyframes styles-downMarkerAnimation-jnh_m {
    0% {
        top: calc(50% - 40px);
    }

    35% {
        top: calc(50% - 27px);
    }

    65% {
        top: calc(50% - 33px);
    }

    80% {
        top: calc(50% - 30px);
    }

    100% {
        top: calc(50% - 31px);
    }
}

.styles-container-OAdPw {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.styles-loader-DzSb2 {
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: calc(100% - 56px);
    justify-content: center;
}

.styles-loaderWrapper-bmI2s {
    position: absolute;
    inset: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.styles-placemark-_iPKL,
.styles-placemarkDot-s74W1 {
    position: absolute;
    pointer-events: none;
}

.styles-placemark-_iPKL {
    width: 44px;
    height: 50px;
    top: calc(50% - 31px);
    animation: styles-placemarkLoadingAnimation-puLFV 1.3s infinite cubic-bezier(.12, 0, .39, 0);
}

.styles-placemarkDot-s74W1 {
    width: 20px;
    height: 20px;
    top: calc(50% + 3px);
}

.styles-placemark-_iPKL::after,
.styles-placemarkDot-s74W1::after {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 50%;
    background-repeat: no-repeat;
}

.styles-placemark-_iPKL::before {
    content: '';
    position: absolute;
    height: 14px;
    top: 20px;
    left: 0;
    right: 0;
    width: 3px;
    background-color: black;
    border-radius: 2px;
    margin: 0 auto;
    animation: styles-stickLoadingAnimation-GFezC 1.3s infinite cubic-bezier(.12, 0, .39, 0);
}

.styles-placemark-_iPKL::after {
    width: 44px;
    background-image: url(/static/item-publish/assets/../assets/f800d8b9d881fd78.svg);
}

.styles-placemarkDot-s74W1::after {
    width: 20px;
    background-image: url(/static/item-publish/assets/../assets/5ceef683ac364546.svg);
}

@keyframes styles-placemarkLoadingAnimation-puLFV {
    0% {
        top: calc(50% - 31px);
    }

    20% {
        top: calc(50% - 31px);
    }

    40% {
        top: calc(50% - 40px);
    }

    50% {
        top: calc(50% - 42px);
    }

    75% {
        top: calc(50% - 40px);
    }

    100% {
        top: calc(50% - 31px);
    }
}

@keyframes styles-stickLoadingAnimation-GFezC {
    0% {
        top: 11px;
    }

    20% {
        top: 11px;
    }

    40% {
        top: 20px;
    }

    50% {
        top: 22px;
    }

    75% {
        top: 20px;
    }

    100% {
        top: 11px;
    }
}

.Controls-wrapper-TZMDI {
    --bg-color: var(--theme-palette-white);
    --size: 36px;
    --btn-shadow: 0 4px 30px 0 rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .05);
    --btn-focus-shadow: 0 0 6px 2px rgba(103, 172, 244, 1);
}

.Controls-absoluteWrapper-bay0e {
    position: absolute;
    transform: translateY(-50%);
    inset: 50% 10px auto auto;
}

.Controls-zoomWrapper-t7ytv {
    display: flex;
    flex-direction: column;
    box-shadow: var(--btn-shadow);
    border-radius: var(--size);
}

.Controls-zoomButton-W7fbx {
    all: unset;
    background-color: var(--bg-color);
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.Controls-zoomButton-W7fbx:focus-visible {
    box-shadow: var(--btn-focus-shadow);
    z-index: 1;
}

.Controls-zoomButton-W7fbx:disabled {
    cursor: default;
}

.Controls-zoomButton-W7fbx:disabled svg {
    opacity: .25;
}

.Controls-zoomButton-W7fbx:first-child {
    border-radius: var(--size) var(--size) 0 0;
}

.Controls-zoomButton-W7fbx:last-child {
    border-radius: 0 0 var(--size) var(--size);
}

.Plus-module-mask-aZYQb {
  --module-icon-mask-url: url(/static/item-publish/assets/../assets/a7345377245cfc00.svg);
}

.Minus-module-mask-Bn3eg {
  --module-icon-mask-url: url(/static/item-publish/assets/../assets/f9a41474e62dfe45.svg);
}

.styles-heading-wrapper-N61wb {
    cursor: default;
}

@keyframes styles-fade-in-rEPIM {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.styles-root-XaXA0 {
    width: 636px;
    opacity: 0;
    animation: styles-fade-in-rEPIM 200ms ease-in 300ms forwards;
}

@keyframes styles-fade-in-MMpmL {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.styles-root-QGZ6W {
    width: 636px;
    opacity: 0;
    animation: styles-fade-in-MMpmL 200ms ease-in 300ms forwards;
}

.infm-version-infm-debug-version-pI6Iu {
    font-size: 14px;
    font-family: monospace;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.infm-version-infm-debug-disable-CTC4Y {
    border: 0;
    background-color: transparent;
    padding: 0;
    font-size: 16px;
    line-height: 1;
}

.infm-version-infm-debug-disable-CTC4Y svg {
    vertical-align: bottom;
    cursor: pointer;
}

.infm-version-infm-debug-disable-CTC4Y svg:hover {
    fill: red;
}

.layout-fields-updating-MK27W {
    pointer-events: none;
    cursor: default;
    animation: layout-pulse-eBIuP 1.5s .2s linear infinite;
}

@keyframes layout-pulse-eBIuP {
    0% {
        opacity: .8;
    }

    50% {
        opacity: .4;
    }

    100% {
        opacity: .8;
    }
}

.layout-backButtonContainer-x6nb8 {
    height: 100%;
    position: absolute;
    left: -72px;
    top: -11px;
    z-index: 1;
}

.layout-backButton-EYIE8 {
    position: sticky;
    top: 62px;
}

.profile-button-profileButton-LDocP {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 32px;
    padding: 11px 20px;
    background-color: #f2f1f0;
    font-size: 15px;
    line-height: 20px;
    margin-left: -6px;
    outline: none;
    cursor: pointer;
    transition: background .3s ease;
}

.profile-button-profileButton-LDocP:focus-visible {
    box-shadow: #80d4ff 0 0 0 3px;
}

.profile-button-profileButton-LDocP:hover {
    background-color: #ebeae8;
}

.profile-button-label-P_u2Q {
    margin-left: 12px;
    padding-bottom: 2px;
}

.profile-button-icon-R0CPW {
    width: 7px;
    height: 12px;
    display: flex;
    margin-left: 8px;
    flex-shrink: 0;
}

.styles-module-root-EVn4A {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  border-radius: 50%;
  background: var(--theme-component-avatar-backgroundColor-default);
  color: var(--theme-component-avatar-color-default);
}

.styles-module-clickable-Bs0U6 {
  cursor: pointer;
}

.styles-module-icon-YU35j {
  background: var(--theme-component-avatar-backgroundColor-iconType);
  color: var(--theme-component-avatar-color-iconType);
}

.styles-module-image-NUKmT {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.styles-module-text-xrRGU {
  margin-top: -1px;
  line-height: 1em;
}

.styles-module-disabled-ji5Y8 {
  background: var(--theme-palette-warmGray4);
}

.styles-module-disabled-ji5Y8 .styles-module-text-xrRGU,
.styles-module-disabled-ji5Y8 .styles-module-icon-YU35j {
  color: var(--theme-palette-gray36);
}

.styles-module-disabled-image-Zpaij:after {
  content: '';
  position: absolute;
  pointer-events: none;
  inset: 0;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.5);
}

